<%- include('./layout/Header.ejs') %>
<%- include('./layout/Navbar.ejs') %>

<div class="showcase">
    <h1>Om <span class="green-text">Exzentriq Afspadsering<span></h1>
    <p>Din online afspadsering</p>
    <p>Version 1.0</p>
</div>

<%- include('./layout/Footer.ejs') %>