<%- include('./layout/Header.ejs') %>
<%- include('./layout/Navbar.ejs') %>

<div class="showcase">
    <h1>Velkommen til Exzentriq <span class="green-text">Afspadsering<span></h1>
    <p>Din online afspadsering</p>
    <a href="/diary">Åben din data</a>
</div>

<%- include('./layout/Footer.ejs') %> 