<header>
    <div class="container">
        <a href="/" class="logo">EXZENTRIQ <span class="green-text">AFSPADSERING</span></a>
        <nav>
            <ul>
                <li><a href="/">Hjem</a></li>
                <li><a href="/about">Om</a></li>
                <li><a href="/diary">Gå til afspadsering</a></li>
                <li><a href="/ret">Ret fejl</a></li>
                <% if (!loggedIn) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Testregistrer</a></li>
                <% }else { %>
                <li><a href="/logout">Log ud</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>